@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Domine:wght@400..700&display=swap');
@import "tailwindcss";

@theme {
    /* Custom colors */
    --color-primary: #03382d;
    --color-secondary: #095142; /* i changed it to color defined in figma */
    --color-element: #027961;
    --color-white: #f2f0ef;
    --color-black: #333333;
    --color-accent: #c57b57;
    --color-red: #cc2128;
    /* Custom font families */
    --font-header: 'Domine', serif;
    --font-text: 'Lato', sans-serif;
}

/*font for projectspage*/
.font-content {
    font-family: var(--font-text);
    font-size: clamp(0rem, 1.5vw, 1.5rem);
    color: var(--color-white);
    text-align: justify;
}
/*font for projectspage*/
.font-projheader {
    font-family: var(--font-text);
    font-size: clamp(0rem, 2.5vw, 2.5rem);
    color: var(--color-white);
    font-weight: 800;
}