@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Domine:wght@400..700&display=swap');
@import "tailwindcss";

@theme {
    /* Custom colors */
    --color-primary: #496656;
    --color-secondary: #739884; /* i changed it to color defined in figma */
    --color-element: #027961;
    --color-white: #f2f0ef;
    --color-black: #494949;
    --color-accent: #c57b57;
    --color-footer: #E87D48; 
    /* Custom font families */
    --font-header: 'Lato', sans-serif;
    --font-text: 'Lato', sans-serif;
}

body {
    background-color: var(--color-secondary);
    font-family: var(--font-text), sans-serif;
    color: var(--color-white);
}

/* I know, but this is too much for tailwind */
.navigation__shadow-scroll {
    background: linear-gradient(var(--color-primary) 30%, rgba(255, 255, 255, 0)),
    linear-gradient(rgba(255, 255, 255, 0), var(--color-primary) 70%) 0 100%,
    radial-gradient(farthest-side at 50% 0, rgba(0, 0, 0, .8), rgba(0, 0, 0, 0)),
    radial-gradient(farthest-side at 50% 100%, rgba(0, 0, 0, .8), rgba(0, 0, 0, 0)) 0 100%;
    background-repeat: no-repeat;
    background-size: 100% 40px, 100% 40px, 100% 14px, 100% 14px;
    background-attachment: local, local, scroll, scroll;
}
